<nav class="navbar sticky-top m-0 navbar-light" style="background-color: #83002e;">
    <div>
        <img src="../../../assets/big-logo.png" class=" float-left col-md-1">
        <a class="navbar-brand text-white h1 col-md-10">PokazGram</a>
        <div class="form-outline flex-fill mb-0">
            <input type="text" id="form3Example1c" class="form-control" placeholder="Tell us about your day" />
        </div>
        <button class="btn btn-danger">
            <i class="bi bi-door"></i>
            (click)="onSignOutUser()">Log out</button>
    </div>
</nav>