<app-nav-bar></app-nav-bar>
<section class="min-vh-100" style="background-color: #192734;">
    <div class="container min-vh-100">
        <h1 class="text-white text-center">{{emptyUser.username}}</h1>
        <div class="d-flex justify-content-evenly">
            <button class="btn btn-primary">Create Post</button>
            <div class="d-inline-block" ngbDropdown #myDropMember="ngbDropdown">
                <button type="button" class="btn btn-primary me-2" id="dropdownManualFollowers" ngbDropdownAnchor
                    (focus)="myDropMember.open()"><i class="bi bi-people-fill"></i>
                    followers : {{emptyUser.followers.length}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <a *ngFor="let follower of emptyUser.followers" ngbDropdownItem href="/users/{{follower.username}}">{{follower.username}}</a>
                </div>
            </div>
            <div class="d-inline-block" ngbDropdown #myDropMember2="ngbDropdown">
                <button type="button" class="btn btn-primary me-2" id="dropdownManualFollowings" ngbDropdownAnchor
                    (focus)="myDropMember2.open()"><i class="bi bi-people-fill"></i>
                    followings : {{emptyUser.followings.length}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <a *ngFor="let following of emptyUser.followings" ngbDropdownItem href="/users/{{following.username}}">{{following.username}}</a>
                </div>
            </div>
            <button type="button" class="btn btn-primary">
                Follow/Unfollow
            </button>
        </div>
        <div class="row d-flex justify-content-center" *ngIf="emptyUser.posts">
            <div class="d-flex justify-content-center mt-3" *ngFor="let post of emptyUser.posts">
                <app-post [post]="post"></app-post>
            </div>

        </div>
    </div>
</section>
