<section class="vh-100" style="background-color: #192734;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <h1 class="d-flex text-white justify-content-center">Welcome back to PokazGram&nbsp;
          <h1 class="text-white text-decoration-underline m-0"> {{emptyLogin.username}}</h1> !
        </h1>
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-12 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>

                <form class="mx-1 mx-md-4">

                  <!-- Username input -->
                  <div class=" mb-4">
                  <div class="d-flex flex-row align-items-center ">
                    <i class="bi bi-envelope  fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="username" [(ngModel)]="emptyLogin.username" placeholder="Username"
                        #username="ngModel" class="form-control h4" />
                    </div>
                  </div>

                  <div *ngIf="username.invalid && (username.dirty || username.touched)"
                      class="alert pl-4 text-danger text-center py-0 m-0">
                      <span *ngIf="username.errors?.['required']">
                        Username is required.
                      </span>
                    </div>
                </div>

                  <!-- Password input -->
                  <div class=" mb-4">
                    <div class="d-flex flex-row align-items-center">
                      <i class="bi bi-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password" [(ngModel)]="emptyLogin.password" #password="ngModel"
                          required class="form-control" placeholder="Password" type="password" />

                      </div>
                    </div>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)"
                      class="alert pl-4 text-danger py-0 m-0  text-center ">
                      <span *ngIf="password.errors?.['required']">
                        Field is required.
                      </span>
                    </div>
                  </div>

                  <!-- Forgot button -->
                  <div class="d-flex justify-content-around align-items-center mb-4">

                    <a class="h4 text-primary" href="http://localhost:4200/forgot-pass">Forgot password?</a>
                  </div>

                  <!-- Submit button -->
                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" (click)="onLogUser()">Sign in</button>
                  </div>
                  <!-- Sign up template redirect-->
                  <div class="d-flex justify-content-center links h5">
                    Don't have an account? <a class="h5 text-primary" href="http://localhost:4200/sign-up">Sign Up</a>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="../../../assets/login-background.jpg" class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>